# Custom
*/database.php
/logs/*
/www/application/cache/*
/www/application/logs/*
*.pyc
config.ini

# Code igniter
*/config/development
*/logs/*
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
