html, body {
	font-family: Verdana;
	color: black;
	height: 100%;
	margin:  0px auto;
	padding: 0px auto;
}
main {
	height: auto;       
	min-height: 100%;
   	margin: 0px auto;
	padding: 0px auto;
}
header {
	background-color:#004A7C;
	color:white;
}
#logo {
	height: 50%;
	width: 80%;
	display: inline-block;
	margin-left: 10%;
	padding-bottom: 5px;
}
#logo:hover {
	cursor: pointer;
}
.row {
	background-color: white;
	height: 100%;
}
#topleft {
	background-color: #005691;
	border: 5px solid #CDCDCD;
	color: white;
	height: 500px;
	border-top: none;
	
}
.title {
	font-size: 3em;
	background-color: #CDCDCD;
	color: #005691;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}
.subtitle {
	font-size: 2em;
	margin-left: 5px;
	text-align: center;
}
.info {
	font-size: 1.5em;
	background-color: white;
	color: #005691;
	padding: 5px;
	text-align: center;
}
#bottomleft {
	background-color: #005691;
	border: 5px solid #CDCDCD;
	color: white;
	height: 100%;
	border-top: none;
}
#enter {
	border: none;
	height: 7%;
	width: 20%;
	background-color: #cdcdcd;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	color: #005691;
	margin-left: 40%;
	margin-right: 0%;
	font-size: 1em;
	font-weight: bold;
}
#enter:hover {
	border: none;
	height: 7%;
	width: 20%;
	background-color: #005691;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	color: #cdcdcd;
	margin-left: 40%;
	margin-right: 0%;
	font-size: 1em;
	font-weight: bold;
	border: 2px solid white;
}
select {
	width: 50%;
	font-family: Verdana;
}
footer {
	background-color: #004A7C;
	border: none;
	text-align: left;
	border-top: solid 7px #CDCDCD;
	border-bottom: solid 7px #CDCDCD;
	text-align: left;
}
.container-fluid-sm-4 {
	height: 100%;
	width: 100%;
}
#copyright {
	font-family : Verdana;
	margin-left: 1%;
	font-size: 1.10em;
	font-style: italic;
	color: white;
	line-height: 30px;
}
table {
	border: 2px black solid;
	margin-left: 10%;
	margin-top: 3%;
	height: 40%;
	width: 60%;
	text-align: center;
	font-size: 1.5em;
	margin-left: 20%;
}
.theadings {
	background-color: #004A7C;
	color: #CDCDCD;
	text-align: center;
	
}
.set1 {
	background-color: white;
}
th, td {
	padding: 10px;
	text-align: center;
	border-left: 2px black solid;
	border-right: 2px black solid;
}
h2 {
	margin-left: 10%;
	font-family: Verdana;
}
#chart {
	height: 30%;
	width: 30%;
	margin-left: 10%;
	margin-top: 5%;
	padding-bottom: 5%;
}
#desHeading {
	text-align: center;
	color: #005691;
	font-weight: bold;
}
#desinfo {
	text-align: center;
	color: #005691;
	font-size: 1.25em;
}
#entryFields {
	margin-left: 20%;
	color: white;
	font-size: 1.25em;
	min-height: 20px;
	min-width: 60px;
}
#loginSection {
	background-color: #004A7C;
	margin-left: 30%;
	margin-right: 30%;
	height: 400px;
}
input[type=text] {
	color:black;
	padding: 6px 14px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

}
input[type=password] {
	color: black;
	padding: 6px 14px;
	margin: 8px 0;
   	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-left: 5px;
}
#logsubmit {
	background-color: #white;
	border: none;
	color: #005691;
	padding: 10px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 40%;
	margin-right: 40%;
}
#logsubmit:active {
  	background-color: #CDCDCD;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
#logsubmit:hover {
	background-color: #white;
	border: none;
	color: #005691;
	padding: 10px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 40%;
	margin-right: 40%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#logout {
	background-color: #004A7C; 
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1.25em;
	margin-left: 86.2%;
	font-weight: bold;
	height: auto;
	width: auto;
	position: relative;
}
#logout:hover {
	background-color: #CDCDCD; 
	border: none;
	color: #005691;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1.25em;
	margin-left: 86.2%;
	font-weight: bold;
	position: relative;
}
.logowrap {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	overflow: auto;
	height: auto;
	position: relative;
}
#authentication {
	color: red;
	font-size: 1.25em;
	margin-left: 30%;
	margin-right: 30%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #CDCDCD;
}
li {
	float: left;
}
li a {
	display: block;
	color: #005691;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}
li a:hover:not(.active) {
	background-color: #005691;
	color: #cdcdcd;
	text-decoration: none;
	cursor: pointer;
}
.active {
	background-color: #4CAF50;
	text-decoration: none;
}
.navright{
	float: right;
}
#dropdown1 {
	margin-left: 25%;
	color: black;
}
#table {
	background-color: #005691;
	border: 5px solid #CDCDCD;
	border-top: none;
	height: 800px;
}
tbody {
	background-color: #CDCDCD;
}
textarea {
	width: 100%;
	height: 200px;
}
#formsubmit {
	background-color: #white;
	border: none;
	color: #005691;
	padding: 10px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 3px;

}
#formsubmit:hover {
	background-color: #005691;
	color: #cdcdcd;
	padding: 10px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 3px;
}
.EHeader {
	color: #005691;
	font-size: 1.25em;
}
.modal-header {
	color: #005691;
}
#box {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid #CDCDCD;
	border-top: none;
}
#stripes {
	width: 100%;
	height: 50%; 
}
#glyndwr {
	border: 5px solid #CDCDCD;
}