body {
	font-family:Verdana;
	color:black;
}
header{
	background-color:#004A7C;
	color:white;
}
#logo {
	background-color: white;
	height: 50%;
	width: 80%;
	border: white solid 5px;
	display:inline-block;
	margin-left:10%;
}
.row {
	background-color: #CDCDCD;
	height:100%;
}
#topleft {
	border-right: 5px solid #004A7C;
	border-bottom: 5px solid #004A7C;
}
#title {
	border-bottom: 2px solid #004A7C;
}
#bottomleft{
	border-right: 5px solid #004A7C;
	color: #004A7C;
}
#enter{
	border: none;
	height: 7%;
	width: 20%;
	background-color:#005691;
	text-align:center;
	color:white;
	margin-top:1%;
	margin-bottom:1%;
}
select {
	width: 50%;
	font-family: Verdana;
}
footer{
	background-color: #CDCDCD;
	border:none;
	height:100%;
}
.container-fluid-sm-4 {
	height:100%;
	width:100%;
}
h5{
	font-family : Verdana;
	color: #005291;
	margin-left:1%;
}
table{
	border: 1px black solid;
	margin-left: 10%;
	margin-top: 3%;
	height: 40%;
	width: 60%;
	text-align: center;
	
}
.theadings{
	background-color: #004A7C;
	color: #CDCDCD;
	text-align: center;
	
}
.set1{
	background-color: white;
}
th, td{
	padding: 10px;
	text-align: center;
	border-left: 1px black solid;
	border-right: 1px black solid;
}
h2{
	margin-left: 10%;
	font-family: Verdana;
}
#chart {
	height: 30%;
	width: 30%;
	margin-left: 10%;
	margin-top: 5%;
	padding-bottom: 5%;
}
#desHeading{
	text-align: center;
	color: #005691;
	font-weight: bold;
}
#desinfo{
	text-align: center;
	color: #005691;
	font-size:1.25em;
}
#entryFields{
	margin-left:20%;
	color:white;
	font-size:1.25em;
}
#loginSection{
	background-color:#004A7C;
	margin-left:30%;
	margin-right:30%;
	height: 300px;
}
input[type=text]{
	color:black;
	padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password]{
	color:black;
	padding: 6px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	margin-left:5px;
}
input[type=submit]{
    background-color: #white;
    border: none;
    color: #005691;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-weight:bold;
	margin-left:40%;
	margin-right:40%;
}
#logout{
	background-color: #005691; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	margin-left:86%;
	font-weight:bold;
}
#logout:hover{
	background-color: #CDCDCD; 
    border: none;
    color: #005691;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	margin-left:86%;
	font-weight:bold;
}
.logowrap{
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	overflow: auto;
}